# Node / Next.js
node_modules/
.next/
dist/
out/
.env
.env.local
.env.*.local

# Python / IA
__pycache__/
*.pyc
*.ipynb_checkpoints
*.db
*.sqlite
*.log

# Docker volumes
data/
.chroma/
flowise_db/
.flowise/
volumes/

# OS
.DS_Store
Thumbs.db
